<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script defer src="{{ url_for('static', filename='js/myjs1.js') }}"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>Giám sát người ra vào bằng Camera</h1>
    </header>

    <section class="image-preview">
        <div id="image-container" class="hidden">
            <h3>Ảnh đã nhận diện</h3>
            <img id="latest-image" src="" alt="Chưa có ảnh" width="500">
        </div>
    </section>

    <section class="upload-section">
        <input type="file" id="uploadInput" accept="image/*">
        <button onclick="uploadImage()">Upload</button>
        <button onclick="resetDatabase()">Reset Database</button>
    </section>

    <section class="chart-section">
        <h2>Biểu đồ mật độ</h2>
        <canvas id="densityChart"></canvas>     <!-- Khung vẽ biểu đồ -->
    </section>

    <section class="log-section">
        <h2>Lịch sử</h2>
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Thời gian</th>
                    <th>Số người</th>
                    <th>Ảnh</th>
                </tr>
            </thead>
            <tbody id="log-table-body"></tbody>
        </table>

        <!-- Modal hiển thị ảnh lớn -->
        <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="fullImage">
        </div>
    </section>
</div>
</body>
</html>
